{% extends 'layout.html' %}
    {% block body %}
        <div class="wrap">
            <form action="word">
                <div class="search">
                    <input type="text" name="search" class="searchTerm">
                    <button type="submit" class="searchButton">
                        <span class="material-icons-outlined">
                            search
                        </span>
                    </button>
                </div>
            </form>
        </div>
    {% endblock %}
